body {
	color: #444444;
	font: 0.75em/170% Verdana, Arial, Helvetica, sans-serif;
	margin: 0;
	background-color: #fff;
}

a {
	color: #027AC6;
	text-decoration: none;
}

a:hover {
	color: #0062A0;
	text-decoration: underline;
}

h1, h2, h3, h4 {
	letter-spacing: -1px;
	line-height: 140%;
	margin-bottom: 10px;
	margin-top: 5px;
}

h1 {
	font-size: 200%;
}

h2 {
	font-size: 160%;
}

h3 {
	font-size: 140%;
}

h4 {
	font-size: 1.4em;
}

p, ul, ol {
	margin-bottom: 1.5em;
	line-height: 170%;
}

#header {
	position: relative;
	height: 60px;
	background: url(images/gradient.gif) repeat-x;
}

/* begin Logo */
.logo
{
	display: block;
	position: absolute;
	left: 10px;
	top: 14px;
	width: 854px;
}

h1.logo-name
{
	display: inline;
	text-align: left;
}

h1.logo-name, h1.logo-name a, h1.logo-name a:link, h1.logo-name a:visited, h1.logo-name a:hover
{
	font-size: 26px;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	padding:0;
	margin:0;
	color: #000000 !important;
}

.logo-text
{
	display: inline;
	text-align: left;
}

.logo-text, .logo-text a
{
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	padding:0;
	margin:0;
	color: #000000 !important;
}
/* end Logo */

#logo {
	float: left;
	padding-right: 1em;
}

/* begin Menu */
/* menu structure */

.artmenu a, .artmenu a:link, .artmenu a:visited, .artmenu a:hover
{
	text-align:left;
	text-decoration:none;
	outline:none;
	letter-spacing:normal;
	word-spacing:normal;
}

.artmenu, .artmenu ul
{
	margin: 0;
	padding: 0;
	border: 0;
	list-style-type: none;
	display: block;
}

.artmenu li
{
	margin: 0;
	padding: 0;
	border: 0;
	display: block;
	float: left;
	position: relative;
	z-index: 5;
	background:none;
}

.artmenu li:hover
{
	z-index: 10000;
	white-space: normal;
}

.artmenu li li
{
	float: none;
}

.artmenu ul
{
	visibility: hidden;
	position: absolute;
	z-index: 10;
	left: 0;
	top: 0;
	background:none;
}

.artmenu li:hover>ul
{
	visibility: visible;
	top: 100%;
}

.artmenu li li:hover>ul
{
	top: 0;
	left: 100%;
}

.artmenu:after, .artmenu ul:after
{
	content: ".";
	height: 0;
	display: block;
	visibility: hidden;
	overflow: hidden;
	clear: both;
}
.artmenu, .artmenu ul
{
	min-height: 0;
}

.artmenu ul
{
	background-image: url(images/spacer.gif);
	padding: 10px 30px 30px 30px;
	margin: -10px 0 0 -30px;
}

.artmenu ul ul
{
	padding: 30px 30px 30px 10px;
	margin: -30px 0 0 -10px;
}




/* menu structure */

.artmenu
{
	padding: 12px 6px 0px 6px;
}

.nav
{
	position: relative;
	height: 42px;
	z-index: 100;
}

.nav .l, .nav .r
{
	position: absolute;
	z-index: -1;
	top: 0;
	height: 42px;
}

.nav .l
{
	left: 0;
	right:0px;
}

.nav .r
{
	right: 0;
	width: 874px;
	clip: rect(auto, auto, auto, 874px);
}

/* end Menu */

/* begin MenuItem */
.artmenu ul li
{
	clear: both;
}

.artmenu a
{
	position:relative;
	display: block;
	overflow:hidden;
	height: 30px;
	cursor: pointer;
	text-decoration: none;
	margin-right: 2px;
	margin-left: 2px;
}


.artmenu a .r, .artmenu a .l
{
	position:absolute;
	display: block;
	height: 90px;
	background-image: url('images/MenuItem.png');
}

.artmenu a .l
{
	left:0;
	right:0px;
}

.artmenu a .r
{
	width:400px;
	right:0;
	clip: rect(auto, auto, auto, 400px);
}

.artmenu a .t 
{
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: #FFFFFF;
	padding: 0 22px;
	margin: 0 0px;
	line-height: 30px;
	text-align: center;
}

.artmenu a:hover .l, .artmenu a:hover .r
{
	top:-30px;
}

.artmenu li:hover>a .l, .artmenu li:hover>a .r
{
	top:-30px;
}

.artmenu li:hover a .l, .artmenu li:hover a .r
{
	top:-30px;
}
.artmenu a:hover .t
{
	color: #EEF5F7;
}

.artmenu li:hover a .t
{
	color: #EEF5F7;
}

.artmenu li:hover>a .t
{
	color: #EEF5F7;
}


.artmenu a.active .l, .artmenu a.active .r
{
	top: -30px;
}


/* end MenuItem */

/* begin MenuSubItem */
.artmenu ul a
{
	display:block;
	text-align: center;
	white-space: nowrap;
	height: 20px;
	width: 180px;
	overflow:hidden;
	line-height: 20px;
	margin-right: auto;
	background-image: url('images/subitem-bg.png');
	background-position: left top;
	background-repeat: repeat-x;
	border-width: 0px;
	border-style: solid;
}

.nav ul.artmenu ul span, .nav ul.artmenu ul span span
{
	display: inline;
	float: none;
	margin: inherit;
	padding: inherit;
	background-image: none;
	text-align: inherit;
	text-decoration: inherit;
}

.artmenu ul a, .artmenu ul a:link, .artmenu ul a:visited, .artmenu ul a:hover, .artmenu ul a:active, .nav ul.artmenu ul span, .nav ul.artmenu ul span span
{
	text-align: left;
	text-indent: 12px;
	text-decoration: none;
	line-height: 20px;
	color: #000000 !important;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
}

.artmenu ul ul a
{
	margin-left: auto;
}

.artmenu ul li a:hover
{
	color: #000000;
	background-position: 0 -20px;
}

.artmenu ul li:hover>a
{
	color: #000000;
	background-position: 0 -20px;
}

.nav .artmenu ul li a:hover span, .nav .artmenu ul li a:hover span span
{
	color: #000000;
}

.nav .artmenu ul li:hover>a span, .nav .artmenu ul li:hover>a span span
{
	color: #000000;
}


/* end MenuSubItem */


div#container {
	margin: 0 auto;
	background: #fff url(images/body.gif) repeat-x 0 0;
	padding-top: 1em;
}

.column {
	margin: 0 auto;
	width: 90%;
}

.content-padding {
	padding: 10px;
}

#sidebar-left {
	width: 21%;
	float: left;
	margin-right: 1%;
}

#main {
	width: 99%;
	float: left;
}

.sidebars-1 #main {
	width: 77%;
	float: left;
}

.sidebars-2 #main {
	width: 56%;
	float: left;
}

#sidebar-right {
	width: 21%;
	float: right;
}

.node {
	margin: 0 0 30px;
	padding: 0 10px;
}

div.block h2.title {
	font-size: 16px;
	line-height: 25px;
	color: #616161;
	padding: 0px 0px 10px 10px;
	border-bottom: dotted 1px #E1E1E1;
}

input.form-submit {
	border: 1px solid #ccc;
	padding: 1px;
	font-size: 10px;
	background: #f9f9f9;
	margin: 1px;
	text-transform: uppercase;
	color: #027AC6;
}

#footer {
	padding: 35px 0;
	font-size: 10px;
	text-align: center;
}

#user-login-form {
	text-align: left;
}

#user-login-form .form-item input {
	width: 95%;
}

#user-login-form input.form-submit {
	margin-bottom: 10px;
}

.form-button, .form-submit {
	margin: 2em 0.5em 1em 0;
}

h3.commentTitle {
	font-size: 1.35em;
	margin: 0;
	padding: 0;
}

.commentTitle a {
	margin: 0;
	padding: 0;
}

div.comment {
	margin-bottom: 15px;
	border: 1px solid #ccc;
	padding: 8px;
}

.metadata {
	font-size: smaller;
	clear: both;
	margin: 2px 0 0 0;
	padding: 5px 0 0 0;
	color: #AAAAAA;
	line-height: 16px;
}

.chronodata {
	padding: 2px 0 2px 20px;
	background: url(images/calendar.png) left center no-repeat;
}

.submitted {
	font-size: .9em;
	color: #999;
}

.new {
	color: #f00;
	float: right;
}

div.links ul.links a {
	background-repeat: no-repeat;
	padding-left: 18px;
	padding-bottom: 5px;
}

div.links ul.links li.comment_add a {
	background-image: url(images/mini-comment.png);
}

div.links ul.links li.comment_comments a {
	background-image: url(images/mini-comment.png);
}

div.links ul.links li.comment_edit a {
	background-image: url(images/mini-edit.png);
}

div.links ul.links li.comment_delete a {
	background-image: url(images/mini-trash.png);
}

div.links ul.links li.comment_reply a {
	background-image: url(images/mini-comment.png);
}

div.links ul.links li.node_read_more a {
	background-image: url(images/arrow-single-right-green.png);
}

div.links ul.links li.blog_usernames_blog a {
	background-image: url(images/user-plain-green.png);
}

div.links ul.links li.comment_forbidden a {
	padding-left: 0px;
}

div.links ul.links li.upload_attachments a {
	background-image: url(images/photo.png);
}

.terms {
	background-repeat: no-repeat;
	padding-left: 18px;
	background-image: url(images/folder-open-blue.png);
	padding-bottom: 5px;
}

.picture img {
	background-color: #fff;
	padding: 2px;
	float: right;
	border: 1px solid #ccc;
}

div#postcontent {
	margin: 10px 50px 0;
}

.item-list ul.pager {
	margin: 0px;
	padding-top: 10px;
}

.item-list .pager li {
	margin: 0px;
	padding: 3px;
}

.item-list .pager li.pager-current {
	padding: 4px;
}

td, th {
	padding: 0.3em 0.5em 0.5em;
}

table tr.odd {
	background-color: #f3f3f3;
}

table tr.even {
	background-color: #ffffff;
}

.messages {
	background-color: #fff;
	border: 1px solid #b8d3e5;
}

.messages, .preview {
	margin: .75em 0 .75em;
	padding: .5em 1em;
}

div.status {
	color: #33a33;
	border-color: #c7f2c8;
}

dl dd {
	margin: 0 0 .5em 1.5em;
}